  .grid-img-item {
    text-align: center;
  }

  .flower-img {
    object-fit: cover;
    height: 200px;
    width: 200px;
  }

  .container-grid-imgs {
    justify-content: center;
    grid-template-columns: 33vw 33vw 33vw;
    grid-gap: 0px;
  }
  
  .img-caption {
    font-size: 2em;
  }  