  .floating-social-sidebar {
    position: fixed;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    display: grid;
    grid-template-rows: auto auto auto;
  }

  .floating-social-sidebar .tooltip {
    visibility: hidden;
    background-color: white;
    border: 1px solid black;
    text-align: center;
  }

  .floating-social-sidebar:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .social-img {
    width: 5em;
    height: 5em;
    justify-content: center;
  }